@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/Gotham-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.btn-outline-primary {
    color: #09673E !important;
    background-color: transparent !important;
    background-image: none !important;
    border-color: #09673E !important;
}

.btn-block {
    display: block !important;
    width: 10% !important;
    height: 45px !important;
}

.btn {
	float: right !important;
    margin-right: 50px !important;
	/* font-size: 20px; */
    font-family: 'Gotham-Light';
    padding: 0.5rem 1rem !important;
    font-size: 20px !important;
    text-transform: uppercase;
    display: inline-block !important;
    font-weight: 400 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
/*     border: 1px solid transparent !important; */
    line-height: 1.5 !important;
    border-radius: 0 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.btn a {
    color: #09673E !important;
    text-decoration: none !important;
    background-color: transparent !important;
    -webkit-text-decoration-skip: objects !important;
}


select {
	font-family: 'Gotham-Light' !important;
    -webkit-appearance: none !important;
    background-image: url(../img/arrow-down.svg) !important;
    background-repeat: no-repeat !important;
    background-position: top right !important;
    cursor: pointer !important;
    padding-right: 45px !important;
    border-color: #09673E !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0px !important;
    height: 45px !important;
    overflow: hidden !important;
    display: block !important;
    width: 100% !important;
    padding: 0.375rem 0.75rem !important;
    /* font-size: 1rem; */
    font-size: 18px !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border-radius: 0.25rem !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

h1 {
    margin-bottom: 20px !important;
    margin-left: 20px !important;
    font-size: 28px !important;
    font-family: 'Gotham-Medium' !important;
    text-transform: uppercase !important;
    color: #09673E !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
/*     margin-top: 0; */
}

label{
	    font-size: 18px !important;
	    font-family: 'Gotham-Medium' !important;
	    color: #808284 !important;
}

textarea{
	font-family: 'Gotham-Light' !important;
	border-color: #09673E !important;
	display: block !important;
	font-size: 18px !important;
	padding: 0.375rem 0.75rem !important;
	color: #495057 !important;
	background-color: #fff !important;
	background-clip: padding-box !important;
	overflow: auto !important;
    resize: vertical !important;
}

.navbar{
	background: linear-gradient(to right, #0a6b43 21%,#105292 80%) !important;
	border-radius: 0px !important;
	border: 0px !important;
}