@media (max-width: 768px) {
    .ol-reglamento {
		margin-top: 0;
	    margin-bottom: 1rem;
	    margin-left: -7%;
	}   
}

@media (max-width: 1024px) {
    .ol-reglamento {
		margin-top: 0;
	    margin-bottom: 1rem;
	    margin-left: -7%;
	}
}